
## Artifacts
*.pyc
*pycache*

## Plots
plots/distributions/
plots/classification/

## Data
data/raw/depression/
data/resources/*.txt
data/results/depression
!data/results/README.md

## Temporary Files
temp*
*$*
*.pptx