
## Artifacts
*.pyc
*pycache*


## Data
data/raw/depression/
data/resources/*.txt
data/results/depression
data/results/synthetic
!data/results/README.md

## Temporary Files
temp*
*$*
*.pptx

## Plots
plots/classification/prior-sweep/
plots/classification/factor-sweep/
